
.benefits {

  &__list {
    @include flexible ();
    background-color: rgba($orange-bg, 0.2);
  }

  &__item {
    height: 171px;
    width: 590px;
    max-width: 100%;
    position: relative;
    justify-content: start;
    padding: 45px 30px 30px 220px;

    &::before {
      content:'';
      position: absolute;
      width: 1px;
      right: 14px;
      bottom: 0;
      top: 0;
    }

    &:not(:last-child)::before {
      border: 1px solid rgba($blue4d, 0.1);
    }
  }

  &__box {
    position: relative;
    font-family: 'DMSans', sans-serif;

    &::before {
      content:"";
      position: absolute;
      left:-75px;
      top: 10px;
      width: 54px;
      height: 53px;
      object-fit: contain;
      background-repeat: no-repeat;
    }

    &--support::before {
      background-image:url('../images/icons/support.svg');
    }

    &--delivery::before {
      background-image:url('../images/icons/delivery.svg');
    }

    &--payment::before {
      background-image:url('../images/icons/payment.svg');
    }
  }
 
  &__title {
    color: $red41;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.1;
    display: block;
    @include line-climp(1);
  }
 
  &__text {
    font-weight: 400;
    line-height: 1.6;
    max-width: 215px;
    color: $grey58;
    @include line-climp(2);
  }
}

/*media */

  .benefits {

    &__list {
      @include maxw($md) {
        flex-direction: column;
        margin: 0 auto;
      }
    }

    &__item {
      @include maxw($xxl) {
        padding-left: 100px;
      }

      @include maxw($lg) {
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        &:not(:last-child)::before {
          border: 1px solid transparent;
        }
      }

      @include maxw($md) {
        display: block;
        width: 100%;
        vertical-align: middle;
        min-width: 100%;
        padding: 15px 0 0 0;
        height: 130px;
      }
    }

    &__box  {

      @include maxw($lg) {
        &::before {
          background-image: none;
        }
      }

      @include maxw($md) {
        display: inline-block;
      }
    }
  }
