.design {
  padding-bottom: 120px;
  text-align: center;

  &__title {
    margin-bottom: 15px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px 30px;
  }

  .mixitup-control-active {
    color: $red3e;
  }
}
 
.design-card {
  background-color: #f8f8f8;
  text-align: left;
  font-family: 'DMSans';
  font-weight: 700;
  position: relative;
  transition: background-color 1s, box-shadow 1s;
  width: 370px;
  height: 246px;
  overflow: hidden;
  
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 35px 0 0 35px;
  }
    
  &__title {
    max-width: 171px;
    margin-bottom: 10px;
    font-size: 20px;
    color: $black1a;
    transition: transform 0.6s;
    @include line-climp(2);
  }
  
  &__type {
    color: $greyc8;
    @include line-climp(3);
    max-width: 70px;
  }

  &__box {
    position: absolute;
    right: -25px;
    bottom: 15px;
    max-width: 300px;
    height: 150px;
  }

  &__img {
    object-fit: contain;
    width: 269px;
    height: 150px;
  }
}



/*media*/

.design {
  @include maxw($xl) {
    display: flex;
  }

  @include maxw($lg) {
    padding-bottom: 80px;
  }

  @include maxw($sm) {
    padding-bottom: 50px;
  }

  

  &__list {
    justify-content: center;
    text-align: center;
  }
  &__items {
    @include maxw($xl) {
      grid-gap: 25px 20px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include maxw($xs) {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      min-width: 100%;
      justify-content: center;
    }

    @include maxw($lg) {
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
    }
  }
 
}

.design-card  {

  @include maxw($xs) {
    width: 271px;
    height: 190px;
  }

  @include maxw($lg) {
    margin-right: 0;
  }

  &__box {
    @include maxw($lg) {
      max-width: 220px;
      right: 0;
    }
    @include maxw($xs) {
      height: 120px;
    }
    
  }
  &__link {
    @include maxw($lg) {
      padding: 20px 0 0 20px;
    }
  }
  &__img {
    @include maxw($xs) {
      width: 130px;
      height: 120px;
    }
  }
  &__title {
    @include maxw($xs) {
      font-size: 18px;
    }
  }

}