.design {
  padding-bottom: 120px;
  text-align: center;

  &__title {
    margin-bottom: 15px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px 30px;
  }
}

.design-item {
  background-color: #f8f8f8;
  text-align: left;
  font-family: 'DMSans';
  font-weight: 700;
  position: relative;
  transition: background-color 1s, box-shadow 1s;

  &:hover {
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.5);
    background-color: $orange-bg;
    .design-item__title {
      transform: scale(1.2);
    }
  }

  &:hover:nth-child(3n-1) {
    background-color: rgb(188, 233, 188);
  }

  &:hover:nth-child(4n-1) {
    background-color: rgb(172, 230, 222);
  }

  &:hover:nth-child(5n-1) {
    background-color: rgb(224, 233, 141);
  }

  &:hover:nth-child(6n-1) {
    background-color: rgb(238, 206, 236);
  }

  &__link {
    display: inline-block;
    width: 370px;
    min-height: 246px;
    padding: 30px 36px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background-image: url(../images/design/1.png);
      bottom: 20px;
      right: 0;
      width: 269px;
      height: 110px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &:nth-child(2){
    .design-item__link:before {
      background-image: url(../images/design/2.png);
    }
  }

  &:nth-child(3){
    .design-item__link:before {
      background-image: url(../images/design/3.png);
      width: 112px;
      height: 143px;
      right: 30px;
      bottom: 50px;
    }
  }

  &:nth-child(4){
    .design-item__link:before {
      background-image: url(../images/design/4.png);
      height: 135px;
    }
  }

  &:nth-child(5){
    .design-item__link:before {
      background-image: url(../images/design/5.png);
      width: 142px;
      height: 178px;
      right: 25px;
    }
  }

  &:nth-child(6){
    .design-item__link:before {
      background-image: url(../images/design/6.png);
    }
  }

  &__title {
    max-width: 171px;
    margin-bottom: 15px;
    font-size: 20px;
    color: $black2;
    transition: transform 0.6s;
    @include line-climp ();
  }
  
  &__type {
    color: $grey1;
  }
}
