
.main-slider {
  padding-top: 150px;

  @include maxw($xl) {
    padding-top: 69px;
  }

  @include maxw($md) {
    justify-content: center;
    text-align: center;
  }
  
  &__inner {
    background-color: $orange-bg;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__wrapper {
    position: relative;
    height: 820px;
    @include flexible ();

    &::before {
      position: absolute;
      top: 95px;
      right: -90px;
      width: 634px;
      height: 634px;
      content: '';
      background: linear-gradient(90deg, (transparent) 0%, rgba(255, 255, 255, 1) 100%);
      border-radius: 50%;
    }

    @include maxw($xxl) {
      height: 790px;
      padding-right: 65px;

      &::before {
        right: 0;
      }
    }

    @include maxw($xl) {
      height: 730px;
      padding-right: 0;

      &::before {
        top: 90px;
        width: 560px;
        height: 560px;
        background: linear-gradient(90deg, (transparent) 0%, rgba(255, 255, 255, 0.7) 100%);
      }
    }

    @include maxw($lg) {
      height: 580px;

      &::before {
        display: none;
      }
    }

    @include maxw($md) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }

  &__content {
    width: 100%;
    max-width: 470px;
    min-height: 400px;
    overflow: hidden;
    @include line-climp(2);

    @include maxw($xxl) {
      width: 411px;
    }

    @include maxw($md) {
      width: 100%;
      min-height: 230px;
      padding: 10px 0;
      margin: 0 auto;
    }

    @include maxw($sm) {
      min-height: 250px;
    }
  }

  &__title {
    max-width: 470px;
    margin-bottom: 28px;
    font-size: 72px;
    font-weight: 500;
    line-height: 1;
    color: $blue4d;
    text-transform: uppercase;
    @include line-climp(3);

    @include maxw($xl) {
      font-size: 60px;
    }

    @include maxw($lg) {
      font-size: 40px;
    }

    @include maxw($md) {
      display: block;
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  &__text {
    max-width: 370px;
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 1.6;
    color: $blue72;
    letter-spacing: 0.2px;
    @include line-climp(4);

    @include maxw($xl) {
      max-width: 360px;
    }

    @include maxw($md) {
      display: inline-block;
      width: 100%;
      padding: 0;
      margin: 0 0 25px 0;
    }
  }

  &__img-box {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 630px;
    height: 490px;
    overflow: hidden;

    @include maxw($xxl) {
      max-width: 610px;
    }

    @include maxw($md) {
      max-width: 450px;
      max-height: 250px;
      margin: 0;
    }

    @include maxw($sm) {
      max-width: 230px;
      max-height: 170px;
    }
  }

  &__img {
    z-index: 6;
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include maxw($xl) {
      width: 90%;
      height: 100%;
    }

    @include maxw($md) {
      width: 300px;
      height: 200px;
    }

    @include maxw($sm) {
      width: 230px;
      height: 170px;
    }
  }

  .slick-dots {
    position: absolute;
    right: 50%;
    bottom: 30px;
    display: flex;
    width: 30px;
    height: 29px;
    transform: translate(-50%, -50%);

    @include maxw($md) {
      bottom: 15px;
    }

    li {
      padding: 0 5px;

      button {
        padding: 10px 12px;
        font-size: 11px;
        font-weight: 500;
        line-height: 1;
        background-color: $whiteff;
        border: transparent;
        border-radius: 50%;
        opacity: 0.3;
        transition: background-color 0.6s, border 0.6s;
      }
    }

    .slick-active button {
      background-color: $whiteff;
      opacity: 1;
      transition: 0.6s;

      &:focus {
        background-color: $whiteff;
      }

      &:hover {
        color: $whiteff;
        background-color: $blue4d;
      }

      &:active {
        color: $black1a;
        background-color: rgb(234, 161, 96);
      }
    }
  }

  &__link {
    @include maxw($md) {
     margin: 0 auto;
    }
  }
}
