
.main-slider {
  padding-top: 154px;
  
  &__inner {
    background-color: $orange-bg;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__wrapper {
    @include flexible ();
    position: relative;
    height: 820px;
    &::before {
      content:'';
      position: absolute;
      width: 634px;
      height: 634px;
      top: 95px;
      right: -90px;
      border-radius: 50%;
      background: linear-gradient(90deg, (transparent) 0%, rgba(255,255,255,1) 100%);
    }
  }

  &__content {
    max-width: 470px;
    min-height: 400px;
    width: 100%;
    overflow: hidden;
    @include line-climp(2);
  }

  &__title {
    max-width: 470px;
    font-size: 72px;
    font-weight: 500;
    line-height: 1;
    color: $blue4d;
    text-transform: uppercase;
    margin-bottom: 28px;
    @include line-climp(3);
  }

  &__text {
    color: $blue72;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 37px;
    max-width: 370px;
    @include line-climp(4);
    letter-spacing: 0.2px;
  }

  &__imgbox {
    max-width: 640px;
    height: 580px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 6;
  }

  .slick-dots {
    position: absolute;
    width: 30px;
    height: 29px;
    bottom: 30px;
    right: 50%;
    transform: translate(-50%, -50%);
    display: flex;

    li {
      padding: 0 5px;

      button {
        background-color: $whiteff;
        opacity: 0.3;
        border-radius: 50%;
        border: transparent;
        padding: 10px 12px;
        font-size: 11px;
        font-weight: 500;
        line-height: 1;
        transition: background-color 0.6s, border 0.6s;
      }
    }

    .slick-active button{
      opacity: 1;
      background-color: $whiteff;
      transition: 0.6s;
    }
  
    button:focus {
      background-color: $whiteff;
    }

    button:hover {
      background-color: $blue4d;
      color: $whiteff;
    }
    
    button:active {
      background-color: rgb(234, 161, 96);
      color: $black1a;
    }
  }
}

/*media*/


.main-slider {
  @include maxw($md) {
    text-align: center;
    justify-content: center;
  }

  &__content {
    @include maxw($xxl) {
      width: 411px;
    }
    
  }

  &__wrapper {
    @include maxw($xxl) {
      height: 790px;
      padding-right: 65px;
      &::before {
        right: 0;
      }
    }
    @include maxw($xl) {
      height: 730px;
      padding-right: 0;
      &::before {
        width: 560px;
        height: 560px;
        top: 90px;
        background: linear-gradient(90deg, (transparent) 0%, rgba(255,255,255,0.7) 100%);
      }
    }
    @include maxw($lg) {
      height: 580px;
      &::before {
        display: none;
      }
    }
    @include maxw($md) {
      flex-direction: column;
      align-items: center;
      padding: 50px 10px;
      height: 460px;
    }
    @include maxw($xs) {
      padding-top: 35px;
    }
  }

  &__imgbox {
    @include maxw($xxl) {
      max-width: 610px;
    }
    @include maxw($lg) {
      background-image: none !important;
      max-width: 470px;
      height: 400px;
      justify-content: flex-end;
    }
  }

  &__content {
    @include maxw($sm) {
      max-width: 320px;
      padding: 0 30px;
    }
  }

  &__title {
    @include maxw($xl) {
      font-size: 60px;
    }
    @include maxw($lg) {
      font-size: 50px;
    }
    @include maxw($md) {
      display: block;
      width: 100%;
      margin-bottom: 25px;
    }
    @include maxw($sm) {
      font-size: 45px;
      max-width: 100%;
    }
  }

  &__text {
    @include maxw($xl) {
      max-width: 360px;
    }
    @include maxw($md) {
      display: inline-block;
      width: 100%;
      margin: 0px;
      margin-bottom: 25px;
      padding: 0;
    }
  }

  &__img {
    @include maxw($xl) {
      width: 90%;
      height: 100%;
    }
    @include maxw($md) {
      display: none !important;
    }
  }
  &__link {
    @include maxw($md) {
     margin: 0 auto;
    }
  }
}