.partners {
  display: flex;
  align-items: baseline;
  position: relative;
  justify-content: space-evenly;
 
  &:before {
    content:'';
    position: absolute;
    background-color: #fcd7b6;
    opacity: 0.2;
    height: 437px;
    top: -270px;
    left: 0;
    right: 0;
    z-index: -1;
  }

  &__list {
    display:flex;
    align-items: center;
  }

  &__item {
    margin: 0;
  }

  &__img {
    display: inline-block;
    max-width: 150px;
    object-fit: contain;
  }
}