.partners {

  &__list {
    display:flex;
  }
  &__item {
    margin: 0 50px;
    height: 120px;
    display: flex;
    align-items: center;
    width: 150px;
  }

  &__img {
    display: inline-block;
    width: 150px;
    height: 120px;
    object-fit: contain;
  } 

}