.products {
  padding-top: 74px;
  text-align: center;

  &__title {
    margin-bottom: 15px;
  }

  .mixitup-control-active {
    color: $red6;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  }
}

.product-item {
  max-width: 270px;
  width: 100%;
  min-height: 380px;
  margin-bottom: 39px;
  margin-right: 29px;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
  border-radius: 10px;
  text-align: center;
  padding: 35px 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid transparent;
  transition: background-color 0.5s, border 0.5s;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:hover{
    background-color: rgba(252,215,182,0.2);
    border: 1px solid $orange-bg;
  }

  &__img-box {
    max-width: 230px;
    max-height: 200px;
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
  }
  &__img {
    object-fit: contain;
    width: 230px;
    height: 200px;
    display: inline-block;
  }
  &__link-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(250%);
    transition: transform 0.3s;
  }

  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 16px;
  }

  &__link {
    padding: 12px;
    border: 1px solid $grey1;
    @extend %circle-btn;
    max-width: 45px;
    max-height: 45px;
    position: relative;
    align-items: center;
    display: flex;
  }

  &__title{
    font-family: 'DMSans', sans-serif;
    font-weight: 700;
    color: $blue1;
    line-height: 2.0;
    font-size: 16px;
    @include line-climp ();
  }

  &__price {
    display: block;
    font-family: 'DMSans', sans-serif;
    font-weight: 700;
    color: $grey1;
    line-height: 2.0;
    font-size: 16px;
    display: inline-flex;
  }
}

.products-features {
  padding: 150px 0 104px;
  &__list {
    display: flex;
  }
}

.feature-item {
  background-color: #feefe2;
  max-width: 870px;
  width: 100%;
  height: 390px;
  display: flex;
  align-items: center;
  position: relative;

  &:before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image:linear-gradient(to left, $orange-bg 25%, $white1 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s linear;
  }

  &:hover::before {
    opacity: 1;
  }

  &:nth-child(2)::before {
    background-image:linear-gradient(to right, $orange-bg 25%, $white1 100%);
  }

  &:first-child {
    margin-right: 30px;
  }

  &__image {
    width: 230px;
    height: 390px;
    position: relative;
    margin-right: 170px;
  }

  &__image:hover .feature-item__img{
    transform: translateX(-20px);
  }

  &__img {
    position: absolute;
    width: 230px;
    object-fit: contain;
    display: inline-block;
    height: 400px;
    right: -130px;
    bottom: 90px;
    transition: transform 1s;
  }

  &__content {
    display: inline-block;
    position: relative;
    text-align: left;
    max-width: 330px;
    padding-right: 15px;
  }

  &__title {
    color: $blue1;
    font-family: 'DMSans', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    max-width: 260px;
    @include line-climp ();
  }

  &__text {
    color: $blue1;
    font-family: "Rubik", sans-serif;
    line-height: 1.8;
    margin-bottom: 30px;
    min-width: 330px;
    @include line-climp ();
  }

  &__btn {
    background-color: transparent;
    border: 1px solid #436372;
    padding: 21px 10px 21px 10px;
    font-family: 'Rubik';
    font-weight: 500;
    line-height: 1;
    font-size: 15px;
    border-radius: 5px;
    max-width: 180px;
    display: inline-block;
    color: $blue2;
    position: relative;
    @extend %btn;
    overflow: hidden;
    &:before {
      content: "";
      background-color: rgba(187, 184, 184, 0.5);
      height: 100%;
      width: 30px;
      display: block;
      position: absolute;
      top: 0;
      left: -50px;
      transform: skewX(-45deg) translateX(-20px);
      transition: none;
    }
    &:hover {
    background-color: $blue1;
    color: $orange-bg;
      &:before {
        transform: skewX(-45deg) translateX(300px);
        transition: transform 0.5s ease-in-out;
      }
    }
  }
  &__icon {
    padding-left: 40px;
    svg {
      width: 22px;
      height: 9px;
    }
  }
 
}

@keyframes btn-main {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}
 