
body {
 font-size: 16px;
 font-weight: 400;
 font-style: normal;
 line-height: 1.2;
 @extend %rubik-400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--big {
  max-width: 1800px;
}

.logo__img {
  min-width: 146px;
  min-height: 39px;
  object-fit: contain;
}