$blue-grey: #a3bbc8;
$white: #ffffff;
$orange-bg: #fcd7b6;
$color-titles: #243f4d;
$color-nav: #436372;
$color-main-title: #1a1a1a;
$color-second-title: #191919;
$color-small-titles: #414141;
$color-small-text: #585858;
$color-filter: #8b8b8b;
$color-footer-title: #1f2044;



%dmsans-400 {
  font-family: 'DMSans-Regular';
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans-Medium';
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans-Bold';
  font-weight: 700;
}



%rubik-400 {
  font-family: 'Rubik-Regular';
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium';
  font-weight: 500;
}

%rubik-700 {
  font-family: 'Rubik-Bold';
  font-weight: 700;
}



%myriad-pro-400 {
  font-family: 'myriad-pro-Regular';
  font-weight: 400;
}