$grey1: #a3bbc8;
$grey2: #8b8b8b;
$grey8: #7b7b7b;
$grey7: #585858;

$white1: #ffffff;
$white2: #edf1f4;

$orange-bg: #fcd7b6;

$blue1: #243f4d;
$blue2: #436372;

$balck1: #191919;
$black2: #1a1a1a;

$purple5: #1f2044;

$red9: #414141;
$red6: #523e3e;


%btn {
  transition: background-color 1s, color 0.5s, background-image 1s, border-radius 0.8s, opacity 0.1s;
  &:focus {
    background-color: $blue2;
    color: $orange-bg;
  }
  &:hover {
    background-color: $blue1;
    color: $orange-bg;;
    & path {
      fill: $orange-bg;
    }
  }
  &:active {
    opacity: 0.6;
  } 
}

%circle-btn {
  transition: background-color 1s;
  path {
    transition: fill 0.6s;
  }

  &:focus {
    background-color: $grey1;
    path {
      fill: $white1;
    }
  }

  &:hover {
    background-color: $grey1;
    path {
      fill: $white1;
    }
  }

  &:active {
    path {
      fill: $orange-bg;
    }
  }

}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
