@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {

}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  align-items: center;
}

.header__logo {
  margin-right: 150px;
}

.menu {
  &__list {
    display: flex;
    text-align: left;
  } 
  &__item:not(:last-child) {
    margin-right: 35px;
  }
  &__link {
    color: $color-nav;
    font-size: 15px;
    line-height: 1.3;
    font-weight: 700;
    @extend %rubik-700;
    /*тут получается шрифт не медиум, а болд!*/
  } 
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__search {
    background-color: #edf1f4;
    padding: 18px;
    border-radius: 50%;
    margin-right: 20px;
    border: transparent;
    transition: border 0.5s;
  }
  &__select {
    display: flex;
    background-color: #fcd7b6;
    border-radius: 50px;
    margin-right: 20px;
  }
  .user__link--heart {
    border-right: 1px solid #fde7d3;
    padding: 22px 30px 12px 41px;
  }
  .user__link--basket {
    padding: 21px 42px 13px 27px;
  }
  &__navig {
    background-color: #a3bbc8;
    padding: 15px;
    border-radius: 50px;
  }
  .user__link {
    position: relative;
  }
  .user__num {
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 50%;
    background-color: #fff;
    top: 15px;
    right: 20px;
    padding: 5px 4px;
    text-align: center;
    line-height: 1;
  }
  .user__num--basket {
    right: 30px;
  }
}









@import 'media';