.animation {
  transition: background-color 1s, color 0.3s, opacity 0.1s;
  background-color: transparent;
  outline: transparent;

  &:focus {
    background-color: $greyc8;
    color: $red3e;
  }
  
  &:hover {
    background-color: $greyc8;
  }
  
  &:active {
    background-color: $greyc8;
    opacity: 0.7;
  }
}


.amination-nav {
  transition: background-color 1s;
  svg {
    transition: fill 0.6s;
  }
  
  &:focus {
    background-color: $greyc8;
    svg{
      fill: $whiteff;
    }
  }

  &:hover {
    background-color: rgb(226, 141, 66);
  }

  &:active {
    svg {
      fill: $whiteff;
    }
  }
}

.btn-main {
  &:before {
    content: '';
    background-color: rgba(187, 184, 184, 0.5);
    height: 100%;
    width: 30px;
    display: block;
    position: absolute;
    top: 0;
    left: -50px;
    transform: skewX(-45deg) translateX(-15px);
    transition: transform 0.5s ease-in-out;
  }
  
  &:hover {
  background-color: $blue4d;
  color: $orange-bg;
    &:before {
      transform: skewX(-45deg) translateX(300px);
    }
  }
}

@keyframes btn-main {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}
