.btn-main {
  padding: 21px 16px 21px 26px;
  background-color: $greyc8;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.25;
  position: relative;
  border: transparent;
  outline: transparent;
  color: $whiteff;
  display: inline-block;
  overflow: hidden;
  @extend %btn;

  &__icon {
    padding-left: 60px;
    svg {
      width: 22px;
      height: 9px;
    }
  }
}

.btn-circle {
  width: 51px;
  height: 52px;
  background-color: $whitf4;
  border-radius: 50%;
  border: transparent;
  outline: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend %circle-btn;
  & svg {
    width: 20px;
    height: 20px;
  }
}