.header__inner {
  display: flex;
  padding: 50px 0;
  align-items: center;
}

.menu {
  display: flex;
  margin: 0 auto;
  padding-left: 150px;

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    color: $blue72;
    font-size: 15px;
    padding: 5px 5px;
    font-family: 'Rubik';
    font-weight: 500;
    position: relative;
  } 
}


.user-nav {
  @include flexible ();

  &__search {
    margin-right: 20px;
    @extend %circle-animation;
    svg {
      max-width: 16px;
      max-height: 16px;
    }
  }

  &__heart,
  &__basket {
    background-color: $orange-bg;
    position: relative;
    outline: transparent;
    & svg {
      width: 18px;
      height: 17px;
    }
  }

  &__heart {
    padding: 20px 30px 12px 40px;
    border-radius: 30px 0 0 30px;
    &::after {
      content:'';
      position: absolute;
      background-image: url('../../images/icons/line-nav.svg');
      background-repeat: no-repeat;
      width: 1px;
      height: 32px;
      right: 0;
      top: 10px;
    }
  }
  
  &__basket {
    padding: 20px 40px 12px 27px;
    border-radius: 0 30px 30px 0;
    margin-right: 18px;
  }

  &__wrap {
    position: relative;
  }

  &__num {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 4px 4px 5px;
    background-color: $whiteff;
    height: 16px;
    border-radius: 35px;
    font-size: 10px;
    line-height: 1;
  }

  &__navigation {
    @extend %circle-animation;
  }
}

