.insights {

  &__top {
    @include flexible ();
    margin-bottom: 46px;
    align-items: baseline;
  }

  &__link {
    position: relative;
    display: inline-block;
    padding-right: 25px;

    &:after {
      content:'';
      position: absolute;
      background-image:url('../images/icons/right.svg');
      width: 7px;
      height: 12px;
      background-size: cover;
      background-repeat:no-repeat;
      right: 0px;
      bottom: 5px; 
    }
  }

  &__items {
    display: flex;
    background-color: transparent;
    margin-bottom: 80px;

    @include maxw($xl) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }

    @include maxw($xl) {
      margin: 10px 10px;
    }
  }
  
  .insights__item:not(:last-child) {
    @include maxw($lg) {
      margin-right: 10px;
    }
  }
}

