.insights {
  padding-bottom: 100px;
  position: relative;

  &:before {
    content:'';
    position: absolute;
    background-color: #fcd7b6;
    opacity: 0.2;
    height: 437px;
    left: 0;
    bottom: 40px;
    right: 0;
    z-index: -1;
  }

  &__top {
    @include flexible ();
    margin-bottom: 46px;
  }

  &__top-link {
    position: relative;
    display: inline-block;
    padding-right: 25px;

    &:after {
      content:'';
      position: absolute;
      background-image:url('../images/icons/right.svg');
      width: 7px;
      height: 12px;
      background-size: cover;
      background-repeat:no-repeat;
      right: 0px;
      bottom: 5px; 
    }
  }

  &__top-items {
    display: flex;
    background-color: transparent;
    margin-bottom: 100px;
  }
}
 

.insights-item {
  position: relative;
  max-width: 370px;
  background-color: $white1;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
  border-radius: 5px;
  overflow: hidden;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &__img {
    width: 370px;
    height: 250px;
    display: block;
    object-fit: contain;
  }

  &__news {
    position: absolute;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 31px;
    transform: translateY(-50%);
    left: 28px;
    border-radius: 25px;
    background-color: $grey1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
    padding: 30px 30px 25px;
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin-bottom: 15px;
    font-size: 18px;
    font-family: 'DMSans' sans-serif;
    font-weight: 500;
  }

  &__data {
    padding-top: 10px;
    margin: auto 0 0;
    border-top: 1px solid #e0e0e0;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 2.5;
    display: flex;
  }

  &__date {
    margin-right: 30px;
  }

  &__title{
    @include line-climp ();
    -webkit-line-clamp: 3; 
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 500;
  }

  &__link {
    display: inline-block;
    overflow: hidden;
  }

  &__link img:hover {
    transform: scale(1.2);
  }

  &__link img {
    transition: transform 1s;
  }
}