.insights {
  &__top {
    align-items: baseline;
    margin-bottom: 46px;

    @include flexible ();
  }

  &__link {
    position: relative;
    display: inline-block;
    padding-right: 25px;

    &::after {
      position: absolute;
      right: 0;
      bottom: 5px; 
      width: 7px;
      height: 12px;
      content: '';
      background-image: url('../images/icons/right.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__items {
    display: flex;
    margin-bottom: 80px;
    background-color: transparent;

    @include maxw($xl) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }

    @include maxw($xl) {
      margin: 10px 10px;
    }
  }
  
  .insights__item:not(:last-child) {
    @include maxw($lg) {
      margin-right: 10px;
    }
  }
}