.video {
  background-position:center;
  background-size: cover;
  background-repeat:no-repeat;
  height: 500px;
  min-width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 120px;
  align-items: center;
  justify-content: center;

  &__play {
    width: 22px;
    height: 25px;
    display: inline-block;
    z-index: 9;
  }

  &__img-box {
    width: 127px;
    height: 127px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before,
    &::after {
      content:'';
      position: absolute;
      background-color: $greyc8;
      border-radius: 50%;
    }
    &::before {
      width: 98px;
      height: 98px;
    }
    &::after {
      width: 127px;
      height: 127px;
      opacity: 0.4;
    }
  }
 
}