.video {
  background-position:center;
  background-size: cover;
  background-repeat:no-repeat;
  height: 500px;
  min-width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 105px;
  align-items: center;
  justify-content: center;

  &__play {
    width: 22px;
    height: 25px;
    display: inline-block;
    z-index: 9;
    fill:#fff;
  }

  &__img-box {
    width: 127px;
    height: 127px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before,
    &::after {
      content:'';
      position: absolute;
      background-color: $greyc8;
      border-radius: 50%;
      transition: background-color 1s, transform 1s, width 0.5s, height 0.5s;
      border: transparent;
    }
    &::before {
      width: 98px;
      height: 98px;
    }
    &::after {
      width: 127px;
      height: 127px;
      opacity: 0.4;
    }
  }

  &:focus {
    .video__img-box {
      &::after {
        background-color:lightblue;
        border-radius: 50%;
        opacity: 0.6;
      }
      &::before {
        opacity: 0.7;
      }
    }
  }

  &:hover {
    .video__play {
      fill: #fc8015;
    }
    .video__img-box {
      &::before {
        opacity: 0.6;
        background-color: $orange-bg;
        width: 75px;
        height: 75px;
        animation: radial-pulse 1s infinite;
      }
      &::after {
        width: 200px;
        height: 200px;
        background-color: $orange-bg;
        animation: radial-pulse 1s infinite;
      }
    }
  }
 
  &:active {
    .video__play {
      fill: $whiteff;
    }
    .video__img-box {
      &::before,
      &::after {
        opacity: 0.6;
      }
    }
  }
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
  }
}

/*media*/ 

.video {
  @include maxw($xl) {
    height: 470px;
    margin-bottom: 80px;
  }

  @include maxw($lg) {
    height: 400px;
    margin-bottom: 60px;
  }

  @include maxw($md) {
    height: 370px;
    margin-bottom: 50px;
  }

  @include maxw($sm) {
    height: 300px;
    margin-bottom: 30px;
  }

}
