<section class="design" data-ref="container-2">
  <div class="container">
    <h2 class="title design__title">
      New Design
    </h2>

    <ul class="design__list mix-filter">
      <li class="mix-filter__item">
        <button class="mix-filter__btn animation" type="button" data-filter="all">
          All
        </button>
      </li>
      <li class="mix-filter__item">
        <button class="mix-filter__btn animation" type="button" data-filter=".category-1">
          Furnitures
        </button>
      </li>
      <li class="mix-filter__item">
        <button class="mix-filter__btn animation" type="button" data-filter=".category-2">
          Chairs
        </button>
      </li>
      <li class="mix-filter__item">
        <button class="mix-filter__btn animation" type="button" data-filter=".category-3">
          Lighting
        </button>
      </li>
      <li class="mix-filter__item">
        <button class="mix-filter__btn animation" type="button" data-filter=".category-4">
          Decor
        </button>
      </li>
    </ul>

    <ul class="design__items">

      <li class="design__item mix category-1">
        <article class="design-card">
          <a class="design-card__link" href="#!" >
            <h3 class="design-card__title">
              Beat Flat Pendant Black
            </h3>
            <span class="design-card__type">
              Classic
            </span>
            <div class="design-card__box">
              <img class="design-card__img" src="images/design/1.png" alt="Beat Flat Pendant Black">
            </div>
          </a>
        </article>
      </li>

      <li class="design__item mix category-1">
        <article class="design-card">
          <a class="design-card__link" href="#" >
            <h3 class="design-card__title">
              Lampe Sur Pieds Bamboo
            </h3>
            <span class="design-card__type">
              Classic
            </span>
            <div class="design-card__box">
              <img class="design-card__img" src="images/design/2.png" alt=" Lampe Sur Pieds Bamboo">
            </div>
          </a>
        </article>
      </li>

      <li class="design__item mix category-2">
        <article class="design-card">
          <a class="design-card__link" href="#" >
            <h3 class="design-card__title">
              Rattan Rocking Chair
            </h3>
            <span class="design-card__type">
              Classic
            </span>
            <div class="design-card__box">
              <img class="design-card__img" src="images/design/3.png" alt="Rattan Rocking Chair">
            </div>
          </a>
        </article>
      </li>

      <li class="design__item mix category-3">
        <article class="design-card">
          <a class="design-card__link" href="#" >
            <h3 class="design-card__title">
              Rattan Rocking Chair
            </h3>
            <span class="design-card__type">
              Classic
            </span>
            <div class="design-card__box">
              <img class="design-card__img" src="images/design/4.png" alt="Rattan Rocking Chair">
            </div>
          </a>
        </article>
      </li>

      <li class="design__item mix category-4">
        <article class="design-card">
          <a class="design-card__link" href="#" >
            <h3 class="design-card__title">
              Rattan Rocking Chair
            </h3>
            <span class="design-card__type">
              Classic
            </span>
            <div class="design-card__box">
              <img class="design-card__img" src="images/design/5.png" alt="Rattan Rocking Chair">
            </div>
          </a>
        </article>
      </li>

      <li class="design__item mix category-2">
        <article class="design-card">
          <a class="design-card__link" href="#" >
            <h3 class="design-card__title">
              Lampe Sur Pieds Bamboo
            </h3>
            <span class="design-card__type">
              Classic
            </span>
            <div class="design-card__box">
              <img class="design-card__img" src="images/design/6.png" alt="Lampe Sur Pieds Bamboo">
            </div>
          </a>
        </article>
      </li>

    </ul>
  </div>
</section>