<section class="products" data-ref="container-1">
  <h2 class="title products__title">
    Products of the week
  </h2>

  <div class="container">
    <ul class="products__filters mix-filter">
      <li class="mix-filter__item">
        <button class="mix-filter__btn animation" type="button" data-filter="all">
          All
        </button>
      </li>
      <li class="mix-filter__item">
        <button class="mix-filter__btn animation" type="button" data-filter=".category-a">
          Furnitures
        </button>
      </li>
      <li class="mix-filter__item">
        <button class="mix-filter__btn animation" type="button" data-filter=".category-b">
          Chairs
        </button>
      </li>
      <li class="mix-filter__item">
        <button class="mix-filter__btn animation" type="button" data-filter=".category-c">
          Lighting
        </button>
      </li>
      <li class="mix-filter__item">
        <button class="mix-filter__btn animation" type="button" data-filter=".category-d">
          Decor
        </button>
      </li>
    </ul>
  </div>

  <ul class="products__items products__items--container">

    <li class="products__item mix category-a">
      <article class="product-card">
        <div class="product-card__img-box">
          <img class="product-card__img" src="images/products-gallery/products1.png" alt="Wooden radio">
    
          <ul class="product-card__list">
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-search"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-basket"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-heart"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="product-card__info">
          <h3 class="product-card__title">
            Wooden radio
          </h3>
          <span class="product-card__price">
            <span class="product-card__currency">$</span>
            29.00
          </span>  
        </div>
        
      </article>
    </li>

    <li class="products__item mix category-b">
      <article class="product-card">
        <div class="product-card__img-box">
          <img class="product-card__img" src="images/products-gallery/products2.png" alt="Wooden chair">
    
          <ul class="product-card__list">
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-search"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-basket"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-heart"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="product-card__info">
          <h3 class="product-card__title">
            Wooden chair
          </h3>
          <span class="product-card__price">
            <span class="product-card__currency">$</span>
            29.00
          </span>  
        </div>
      </article>
    </li>

    <li class="products__item mix category-a">
      <article class="product-card">
        <div class="product-card__img-box">
          <img class="product-card__img" src="images/products-gallery/products3.png" alt="White chair">
    
          <ul class="product-card__list">
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-search"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-basket"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-heart"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="product-card__info">
          <h3 class="product-card__title">
            White chair
          </h3>
          <span class="product-card__price">
            <span class="product-card__currency">$</span>
            29.00
          </span>  
        </div>
      </article>
    </li>

    <li class="products__item mix category-c">
      <article class="product-card">
        <div class="product-card__img-box">
          <img class="product-card__img" src="images/products-gallery/products4.png" alt="Retro table">
    
          <ul class="product-card__list">
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-search"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-basket"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-heart"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="product-card__info">
          <h3 class="product-card__title">
            Retro table
          </h3>
          <span class="product-card__price">
            <span class="product-card__currency">$</span>
            29.00
          </span>  
        </div>
      </article>
    </li>

    <li class="products__item mix category-d">
      <article class="product-card">
        <div class="product-card__img-box">
          <img class="product-card__img" src="images/products-gallery/products5.png" alt="Wooden radio">
    
          <ul class="product-card__list">
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-search"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-basket"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-heart"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="product-card__info">
          <h3 class="product-card__title">
            Wooden radio
          </h3>
          <span class="product-card__price">
            <span class="product-card__currency">$</span>
            29.00
          </span>  
        </div>
      </article>
    </li>

    <li class="products__item mix category-a">
      <article class="product-card">
        <div class="product-card__img-box">
          <img class="product-card__img" src="images/products-gallery/products6.png" alt="Wooden chair">
    
          <ul class="product-card__list">
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-search"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-basket"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-heart"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="product-card__info">
          <h3 class="product-card__title">
            Wooden chair
          </h3>
          <span class="product-card__price">
            <span class="product-card__currency">$</span>
            29.00
          </span>  
        </div>
      </article>
    </li>

    <li class="products__item mix category-b">
      <article class="product-card">
        <div class="product-card__img-box">
          <img class="product-card__img" src="images/products-gallery/products7.png" alt="White chair">
    
          <ul class="product-card__list">
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-search"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-basket"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-heart"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="product-card__info">
          <h3 class="product-card__title">
            White chair
          </h3>
          <span class="product-card__price">
            <span class="product-card__currency">$</span>
            29.00
          </span>  
        </div>
      </article>
    </li>

    <li class="products__item mix category-d">
      <article class="product-card">
        <div class="product-card__img-box">
          <img class="product-card__img" src="images/products-gallery/products8.png" alt="Retro table">
    
          <ul class="product-card__list">
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-search"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-basket"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__item">
              <a class="product-card__link btn-circle" href="#!">
                <svg class="products-search">
                  <use xlink:href="images/sprite.svg#products-icon-heart"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="product-card__info">
          <h3 class="product-card__title">
            Retro table
          </h3>
          <span class="product-card__price">
            <span class="product-card__currency">$</span>
            29.00
          </span>  
        </div>
      </article>
    </li>
  </ul>

  <div class="products-features">
    <div class="container container--big">
      <ul class="products-features__list">

        <li class="products-features__item">
          <article class="article-lamp">
       
            <a class="article-lamp__imagelink" href="#!">
              <img class="article-lamp__img" src="images/lamps/lamp1.png" alt="lamp">
            </a>
 
            <div class="article-lamp__content">
              <h3 class="article-lamp__title">
                <a class="article-lamp__titlelink animation" href="#!">
                  Mirum Notare Tellus
                </a>
              </h3>
              <div class="article-lamp__text">
                <p>
                  LEDCornBulb Lamp 5W 7W 10W 12W 15W E26 E27LEDCornLight
                </p>
              </div>
              <a class="article-lamp__link main-link" href="#!">
                View More
                <svg class="arrow-right--dark">
                  <use xlink:href=images/sprite.svg#arrow-right-black></use>
                </svg>
              </a>
            </div>
          </article>
        </li>

        <li class="products-features__item">
          <article class="article-lamp article-lamp--gradienteffect">
        
            <a class="article-lamp__imagelink" href="#!">
              <img class="article-lamp__img" src="images/lamps/lamp2.png" alt="lamp">
            </a>
     
            <div class="article-lamp__content">
              <h3 class="article-lamp__title">
                <a class="article-lamp__titlelink animation" href="#!">
                  Malesuada Tempor Euismod
                </a>
              </h3>
              <div class="article-lamp__text">
                <p>
                  50W 8000lm Compact Size for HID StreetLightReplacementLEDCornLight
                </p>
              </div>

              <a class="article-lamp__link main-link" href="#!">
                View More
                <svg class="arrow-right--dark">
                  <use xlink:href=images/sprite.svg#arrow-right-black></use>
                </svg>
              </a>
            </div>
          </article>
        </li>

      </ul>
    </div>
  </div>
</section>