<ul class="products-week__filters mix-filter">
  <li class="mix-filter__item">
    <button class="mix-filter__btn animation" type="button" data-filter="all">
      All
    </button>
  </li>
  <li class="mix-filter__item">
    <button class="mix-filter__btn animation" type="button" data-filter=".category-a">
      Furnitures
    </button>
  </li>
  <li class="mix-filter__item">
    <button class="mix-filter__btn animation" type="button" data-filter=".category-b">
      Chairs
    </button>
  </li>
  <li class="mix-filter__item">
    <button class="mix-filter__btn animation" type="button" data-filter=".category-c">
      Lighting
    </button>
  </li>
  <li class="mix-filter__item">
    <button class="mix-filter__btn animation" type="button" data-filter=".category-d">
      Decor
    </button>
  </li>
</ul>