<article class="insights-card">
  <a class="insights-card__link" href="#!">
    <img class="insights-card__img" src="images/insights/1.jpg" alt="living room">
  </a>
  <a class="insights-card__news">news</a>
  <div class="insights-card__content">
    <div class="insights-card__text">
      <h3 class="insights-card__title">
        <a class="insights-card__title-link animation" href="#!">
          Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </a>
      </h3>
    </div>
    <div class="insights-card__data">
      <a class="insights-card__data-link insights-card__data-link--date animation" href="#!">
        <time data-time="2020-01-28">28 January, 2020</time>
      </a>
      <a class="insights-card__data-link insights-card__data-link--author animation" href="#!">
        by admin
      </a>
    </div>
  </div>
</article>