<article class="product-card">
  <div class="product-card__box">
    <img class="product-card__img" src="images/products-gallery/products1.png" alt="Wooden radio">

    <ul class="product-card__list">
      <li class="product-card__item">
        <a class="product-card__link btn-circle circle-animation" href="#!">
          <svg>
            <use xlink:href="images/sprite.svg#products-icon-search"></use>
          </svg>
        </a>
      </li>
      <li class="product-card__item">
        <a class="product-card__link btn-circle circle-animation" href="#!">
          <svg>
            <use xlink:href="images/sprite.svg#products-icon-basket"></use>
          </svg>
        </a>
      </li>
      <li class="product-card__item">
        <a class="product-card__link btn-circle circle-animation" href="#!">
          <svg>
            <use xlink:href="images/sprite.svg#products-icon-heart"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <div class="product-card__info">
    <h3 class="product-card__title">
      Wooden radio
    </h3>
    <span class="product-card__price">
      <span class="product-card__currency">$</span>
      29.00
    </span>  
  </div>
  
</article>