<footer class="footer">
  <div class="container">
    <div class="footer__top">

      <div class="footer__contacts">
        <a class="logo footer__logo" href="#!">
          <img class="logo__img" src="images/logo.png" alt="Glee logo">
        </a>

        <address class="footer__address">

          <a class="footer__link animation" href="#!">
            <span class="footer__caps">Address:</span>
            4772 Wines Lane
            Houston, TX 77032
          </a>
          <a class="footer__link animation" href="tel:+8323475843">
            <span class="footer__caps">Telephone:</span> +832-347-5843
          </a>
          <a class="footer__link animation" href="mailto:contact@Glee.com"> 
            <span class="footer__caps">Email:</span>  
            contact@Glee.com
          </a>

        </address>
      </div>

      <!-- в прошлом видео у меня тайтлы были внутри списков, ты сказал убрать ихх от туда. сделал так. -->
      <div class="footer__services">
        <span class="footer__title">
          Services
        </span>
        <ul class="footer__items">
          <li class="footer__item">
            <a class="footer__item-link animation" href="#">About us</a>
          </li>
          <li class="footer__item">
            <a class="footer__item-link animation" href="#">Return Policy</a>
          </li>
          <li class="footer__item">
            <a class="footer__item-link animation" href="#">Our Blog</a>
          </li>
          <li class="footer__item">
            <a class="footer__item-link animation" href="#">Contact Us</a>
          </li>
          <li class="footer__item">
            <a class="footer__item-link animation" href="#">Terms & Condition</a>
          </li>
        </ul>
      </div>

      <div class="footer__services">
        <span class="footer__title">
          Account
        </span>
        <ul class="footer__items">
          <li class="footer__item">
            <a class="footer__item-link animation" href="#">Your Account</a>
          </li>
          <li class="footer__item">
            <a class="footer__item-link animation" href="#">Checkout</a>
          </li>
          <li class="footer__item">
            <a class="footer__item-link animation" href="#">Login</a>
          </li>
          <li class="footer__item">
            <a class="footer__item-link animation" href="#">Register</a>
          </li>
        </ul>
      </div>

      <div class="footer__newsletter">
        <span class="footer__title">
          Newsletter
        </span>
        <div class="footer__text">
          <p>
            Subscribe by our newsletter and get
            update protidin.
          </p>
        </div>
       @@include('../components/_footer__form.html')
      </div>
    </div>


    <div class="footer__bottom">
      <div class="footer__copy">
        <p>
          ©2020 CopyRight Example. All rights reserved. 
        </p>
      </div>

      <nav class="footer__menu">
        <ul class="footer__list">
          <li class="footer__bottom-item">
            <a class="footer__bottom-link adaptive-link animation" href="#">Home</a>
          </li>
          <li class="footer__bottom-item">
            <a class="footer__bottom-link adaptive-link animation" href="#">About </a>
          </li>
          <li class="footer__bottom-item">
            <a class="footer__bottom-link adaptive-link animation" href="#">Blog</a>
          </li>
          <li class="footer__bottom-item">
            <a class="footer__bottom-link adaptive-link animation" href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>