<header class="header">
  <div class="container container--big">

    <nav class="header__inner">
      <a class="logo header__logo" href="#">
        <img class="logo__img" src="images/logo.png" alt="Glee logo">
      </a>

      <button class="menu__btn">
        <span></span>
      </button>
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link animation" href="#">Home +</a>
        </li>
        <li class="menu__item">
          <a class="menu__link animation" href="#">About</a>
        </li>
        <li class="menu__item">
          <a class="menu__link animation" href="#">Services</a>
        </li>
        <li class="menu__item">
          <a class="menu__link animation" href="#">Pages +</a>
        </li>
        <li class="menu__item">
          <a class="menu__link animation" href="#">News</a>
        </li>
        <li class="menu__item">
          <a class="menu__link animation" href="#">Contact</a>
        </li>
      </ul>
    
      <div class="header__user-nav user-nav">
        <button class="user-nav__search btn-circle circle-animation show" type="button">
          <span class="sr-only">Open to search</span>
          <svg class="search-icon">
            <use xlink:href="images/sprite.svg#search-icon"></use>
          </svg>
        </button>

        <div class="user-nav__item amination-nav">
          <a class="user-nav__item--heart show" href="#">
            <span class="sr-only">Favourites</span>
              <svg>
                <use xlink:href="images/sprite.svg#heart"></use>
              </svg>
              <span class="user-nav__num">0</span>
          </a>

          <a class="user-nav__item--basket show" href="#">
            <span class="sr-only">your basket</span>
            <svg>
              <use xlink:href="images/sprite.svg#basket"></use>
            </svg>
              <span class="user-nav__num">0</span>
          </a>
        </div>

        <button class="user-nav__navigation btn-circle circle-animation">
          <span class="sr-only">navigation menu</span>
          <svg class="use-nav__btn-menu">
            <use xlink:href="images/sprite.svg#use-nav-menu"></use>
          </svg>
        </button>
        
      </div>
    </nav>
  </div>
</header> 