.insights-card {
  position: relative;
  max-width: 370px;
  width: 100%;
  height: 420px;
  background-color: $whiteff;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
  border-radius: 5px;
  overflow: hidden;
  

  @include maxw($sm) {
    height: 370px;
  }

  &__img {
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;

    @include maxw($sm) {
      height: 180px;
    }
  }
  
  &__news {
    text-align: center;
    padding: 5px 31px;
    position: absolute;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    transform: translateY(-50%);
    left: 28px;
    border-radius: 25px;
    background-color: $greyc8;
    @include line-climp(2);
    transition: background-color 0.8s, color 0.6s;
    cursor: pointer;

    &:focus {
      background-color: $blue72;
    }
 
    &:hover {
      background-color: $blue4d;
      color: $orange-bg;
    }

    &:active {
      color: $whiteff;
    }
  }

  &__title{
    @include line-climp(3);
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
  }

  &__link {
    display: block;
    overflow: hidden;
  }

  &__link img:hover {
    transform: scale(1.2);
  }

  &__link img {
    transition: transform 1s;
  }

  &__content {
    padding: 30px 30px 0;
    display: flex;
    flex-direction: column;
    height: 155px;

    @include maxw($sm) {
      padding: 20px 20px 0;
    }
  }

  &__text {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: auto;
  }

  &__data {
    border-top: 1px solid #e0e0e0;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 2.5;
    padding-top: 10px;
  }

  &__data-link {
    position: relative;
    display:inline-block;
    padding-left: 20px;

    &::before {
      content:'';
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      top: 6px;
      left: 0;
    } 
  }

  &__data-link--date {
    margin-right: 30px;

    &::before {
      background-image:url('../images/icons/calendar.svg');
      left: 0;
      width: 11px;
      height: 13px;
    }
  }

  &__data-link--author::before {
    background-image:url('../images/icons/user.svg');
    width: 14px;
    height: 14px;
  }
}