.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  height: 380px;
  padding: 35px 19px 19px;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
  transition: background-color 0.6s, border 1.3s, box-shadow 1s;

  &.product-card--list {
    flex: 0 1 100%;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
    height: 500px;
    padding: 35px 19px 19px 0;
    box-shadow: none;

    &:hover {
      background-color: transparent;
      border: transparent;
      -webkit-box-shadow: none;
      box-shadow: transparent;
    }

    .product-card__box {
      width: 370px;
      height: 500px;
      padding: 70px 10px;
      margin-right: 30px;
      margin-bottom: 17px;
      border: 2px solid rgb(229, 229, 229);
      
      img {
        max-width: 330px;
        max-height: 360px;
      }
    }

    .product-card__list {
      display: none;
    }

    .product-card__info {
      flex: 0 1 470px;
      align-items: flex-start;
    }

    .product-card__title {
      font-size: 40px;
      font-weight: 400;
      line-height: 1;
      color: #333;
    }

    .product-card__content-box {
      display: block;
    }

    .star {
      display: block;
    }
  }
  
  &__list {
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    transform: translateY(250%);

    // @include maxw($lg) {
    //   bottom: 100px;
    //   transform: translateY(0);
    // }
  }

  &:hover {
    background-color: rgba(252, 215, 182, 0.2);
    border: 1px solid $orange-bg;
    box-shadow: 0 6px 47px 3px rgba(238, 188, 144, 0.5);

    .product-card__list {
      transform: translateY(0);
    }
  }

  &__content-box {
    display: none;
  }

  .star {
    display: none;
  }
 
  // @include maxw($lg) {
  //   position: relative;
  // }

  @include maxw($md) {
    padding: 10px;
  }

  &__box {
    position: relative;
    flex-shrink: 0;
    width: 230px;
    height: 200px;
    margin-bottom: 60px;
    overflow: hidden;

    // @include maxw($lg) {
    //   position: static;
    // }
  }

  &__img {
    display: inline-block;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  
  &__item:not(:last-child) {
    margin-right: 16px;
  }

  // &__item a {
  //   @include maxw($lg) {
  //     background-color: rgba(248, 235, 223, 0.9);
  //   }
  // }

  &__link {
    width: 45px;
    height: 45px;
    background-color: $whiteff;
    border: 1px solid $greyc8;

    svg {
      fill: $greyc8;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'DMSans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 2;
    text-align: center;
  }

  &__title {
    font-size: 16px;
    line-height: 1.2;
    color: $blue4d;
    @include line-climp(2);
  }

  &__price {
    display: inline-flex;
    color: $greyc8;
  }
}